@{
    ViewBag.Title = "İletişim";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Takvim Projesi<br />
        Türkiye<br />
        <abbr title="Telefon">T:</abbr>
        +90 xxx xxx xx xx
    </address>

    <address>
        <strong>Destek:</strong>   <a href="mailto:destek@takvimprojesi.com">destek@takvimprojesi.com</a><br />
        <strong>Bilgi:</strong> <a href="mailto:bilgi@takvimprojesi.com">bilgi@takvimprojesi.com</a>
    </address>
</main>